<head>
    <style>
        img {
            height: 700px;
            width: 100%;
        }
    </style>
</head>
<body>
        <img src="~/Content/Pictures/MainPhoto.JPG" />
        <img src="~/Content/Pictures/MainPhoto2.JPG" />
        <img src="~/Content/Pictures/MainPhoto3.JPG" />
        <img src="~/Content/Pictures/MainPhoto4.JPG" />
        <img src="~/Content/Pictures/MainPhoto5.JPG" />
</body>