<div class="page-title bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 push-lg-4">
                <h1 class="mb-0">О Разработчике</h1>
            </div>
        </div>
    </div>
</div>
</br>
<ul>
<li style="list-style-type:none">
    <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
    1.Бахриев Шахзод Контакты:918500015
    </h2>
</li>
</ul>
<h3>

</h3>